<!DOCTYPE html>
<html>
  <head>
    <title>BolognaMeetup</title>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <script type="text/javascript">
      window.JWT_UserId = "<%= current_user.id.to_s %>" // get from JWT!
    </script>
    <%= yield %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </body>
</html>
